/* Full scene container */
.scene-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Background Layers */
.bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 1.4s ease-in-out;
  z-index: -1;
}

.bg1 {
  background-image: url("./background1.jpg");
}

.bg2 {
  background-image: url("");
  background-position: center;
  background-size: 90%;
}

/* Fade states */
.fade-in { opacity: 1; }
.fade-out { opacity: 0; }


.title {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
}

.arrow-instruction {
  font-size: 1.7rem; 
  color: white;
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 2px 6px black;
  position: absolute;
  bottom: 50px;
  width: 30%
}

.scene2-message {
  font-size: 2.4rem;
  color: rgb(255, 255, 255);
  font-style: Arial;
  margin-bottom: 600px;
  text-align: center;
  text-shadow: 2px 2px 8px black;
}


.present-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 80px;
}

.present-button img {
  width: 250px;
  height: auto;
  animation: pulse 1.4s infinite ease-in-out alternate;
}

@keyframes pulse {
  0% { transform: scale(1); }
  100% { transform: scale(1.07); }
}