/* Container for sliding animations */
.transition-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Slide animations */
.slide-enter {
  animation: slide-in 0.7s ease forwards;
}

@keyframes slide-in {
  from { transform: translateX(100%); }
  to { transform: translateX(0%); }
}

.slide-exit {
  animation: slide-out 0.7s ease forwards;
}

@keyframes slide-out {
  from { transform: translateX(0%); }
  to { transform: translateX(-100%); }
}

/* Page 5 layout */
.page5 {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Page 5 background */
.page5-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

/* Page 5 content */
.page5-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.page5-text5 {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  text-shadow: 4px 4px 15px black;
  padding: 20px;
  position: absolute;
  max-width: 75%;
  margin-bottom: 550px;
}

.arrow-instructions5 {
  font-size: 1rem;
  background: none;
  position: absolute;
  border: none;
  color: white;
  opacity: 0.85;
  cursor: pointer;
  bottom: 20px;
  animation: bounce 1s infinite ease-in-out alternate;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
