.page6 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgb(8, 8, 8);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.page6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./background6.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: zoomOut 10s ease-out forwards;
  z-index: 0;
}

/* Content above the background */
.page6 > * {
  position: relative;
  z-index: 1;
}

.page6-text {
  font-size: 1.4rem;
  font-family: Arial, sans-serif;;
  margin-bottom: 700px;
  position: absolute;
  text-align: center;
}

.page6-instruction {
  font-size: 1rem;
  opacity: 0.8;
}

/* Press Me button */
.page6-button {
  padding: 15px 30px;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: #5f629add;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: absolute;
  margin-top: 580px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.page6-button:hover {
  transform: scale(1.1);
  background-color: #fefabd;
}

.present-image {
  width: 100px;
  height: auto;
  animation: pulse 1.4s infinite ease-in-out alternate;
}

@keyframes pulse {
  0% { transform: scale(1); }
  100% { transform: scale(1.07); }
}
